# import library yang dibutuhkan

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans

ModuleNotFoundError: No module named 'pandas'

# membaca dataset

In [ ]:
df = pd.read_csv('Mall_Customers.csv')

NameError: name 'pd' is not defined

In [ ]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

# persiapan dataset

In [ ]:
df.rename(index=str, columns={
    'Annual Income (k$)' :'Income',
    'Spending Score (1-100)' : 'Score'
}, inplace=True)

NameError: name 'df' is not defined

In [ ]:
X = df.drop(['CustomerID','Gender'], axis=1)

In [ ]:
print(X)

     Age  Income  Score
0     19      15     39
1     21      15     81
2     20      16      6
3     23      16     77
4     31      17     40
..   ...     ...    ...
195   35     120     79
196   45     126     28
197   32     126     74
198   32     137     18
199   30     137     83

[200 rows x 3 columns]

# menentukan jumlah cluster dengan elbow

In [ ]:
clusters=[]
for i in range(1,11):
    km = KMeans(n_clusters=i).fit(X)
    clusters.append(km.inertia_)

fig, ax = plt.subplots(figsize=(12,8))
sns.lineplot(x=list(range(1,11)), y=clusters, ax=ax)
ax.set_title('mencari elbow')
ax.set_xlabel('cluster')
ax.set_ylabel('inertia')

#panah elbow
ax.annotate('Possible elbow point', xy=(3,140000), xytext=(3,50000), xycoords='data',
            arrowprops=dict(arrowstyle='->',connectionstyle='arc3', color='blue', lw=2))

ax.annotate('Possible elbow point', xy=(5,80000), xytext=(5,150000), xycoords='data',
            arrowprops=dict(arrowstyle='->',connectionstyle='arc3', color='blue', lw=2))

NameError: name 'KMeans' is not defined

# proses clustering

In [ ]:
n_clust = 4
kmean = KMeans(n_clusters=n_clust).fit(X)
X['Labels'] = kmean.labels_

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [ ]:
plt.figure(figsize=(10,8))
sns.scatterplot(x=X['Income'], y=X['Score'], hue=X['Labels'], size=X['Labels'], palette=sns.color_palette('hls', n_clust))

for label in X['Labels'].unique():
    plt.annotate(label,
                 (X[X['Labels']==label]['Income'].mean(),
                  X[X['Labels']==label]['Score'].mean()),
                 horizontalalignment='center',
                 verticalalignment='center',
                 size=20, weight='bold',
                 color='black')
plt.show()

NameError: name 'plt' is not defined

In [ ]:
print(X)

NameError: name 'X' is not defined

In [ ]:
X.to_excel("output_cluster.xlsx")